.button-login {
    margin: 20px;
    position: relative;
    height: 50px;

    button.signin {
        position: absolute;
        right: 20px;
    }

    button.home {
        position: absolute;
        left: 20px;
    }
}

.page {
    width: 70%;
    margin: 20px auto;
}